body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  font: inherit;
  background: #6a9eff;
  color: #fff;
  padding: 0.25rem 1rem;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
  text-align: center;
}
button :active {
  background: #6a9eff;
  border-color: rgb(91, 135, 218);
}

button :focus {
  outline: none;
}
button :disabled {
  border: #111;
  background: #999;
}
